<div class="bg-white padded">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <h2><%= @announce.name %></h2>
          <p><%= @announce.text %></p>
          <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"> <i class="fa fa-facebook"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
