/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-white {
  background: white;
}
.border-light {
  border: 1px solid rgb(220, 220, 220);
}
.border-radius-2 {
  border-radius: 2px;
}
.min-height-600 {
  min-height: 600px;
}
.padding-left-none {
  padding-left: 0;
}
.padding-15 {
  padding: 15px;
}
.announce-link {
  color: rgb(38, 115, 176);
  font-weight: 600;
  font-size: 14px;
}
.time-ago {
  color: rgba(0, 39, 59, 0.34902);
  font-size: 13px;
}
.text-light {
  font-weight: 300;
}
.announce a.liked {
 color: #FFB400 ;
}

.announce a.liked:hover {
 color: rgb(119, 119, 119);
 text-decoration: none;
}

.liked {
 color: #FFB400 ;
}

.or {
  display: block;
  text-align: center;
  position: relative;
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
  margin-top: 21px;
  color: white;

  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    top: 20px;
    border-bottom: solid 2px;
  }

  &:after {
    right: 0
  }
}

.connexion {
  padding: 10px;
}

.btn-add {
  width: 100%;
  color: white;
  padding: 15px;
  margin: 0 0 15px 0;
  border-radius: 1px;
  &:hover {
    color: white;
    font-weight: bold;
  }
}

#add-good {
  background-color: #CC0628;
}

#add-bad {
  background-color: #5B5B5B;
}